.footer-container{
    background-color: #02214b;
    display: flex;
    justify-content: center;
    align-content: center;   
    height: 100%;
}

.buy-beer{
    -webkit-appearance: none;
    color:white;
    text-align: center;
    font-family: "Aileron-UltraLight";
}

