.footer-container{
    height: 20%;
    background-color: #02214b;
    display: flex;
    justify-content: center;
    align-items: center;

}



.buy-coffee{
    color:white;
    background-color: orange;
    font-family: "Aileron-UltraLight";
}
