.main-container{
    display: flex;
    flex-direction: column;
}

.text-main{
    padding-top: 3%;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.text-header{
    font-family: "Aileron-UltraLight";
    color: #ffec93;
}

.text-header h1{
    font-size: 4em;
}

.text-body{
    font-family: "Aileron-Light";
    padding-top: 3%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
    width: 80%;
}

.text-body h6{
    color: white;
}



