<div class="main-container">
    <div class="text-main">
        <div class="text-container">
            <div class="text-header">
                <h1>{{textHeader}}</h1>
            </div>
            <div class="text-body">
                <h6>{{textBody}}</h6>
            </div>
        </div>
        <div class="bottom-image">
            <img [src]="goldenDome" alt="golden dome image">
        </div>
    </div>
    <div class="data-main">
        <div class="date-enter">
            <form>
                <div class="form-group form-date">
                    <label for="example-datetime-local-input" class="col-2 col-form-label">Date</label>
                    <input class="form-control" type="date">
                </div>
            </form>

        </div>
        <div class="time-enter">
            <form>
                <div class="form-group form-date">
                    <label for="example-datetime-local-input" class="col-2 col-form-label">Time</label>
                    <input class="form-control">
                </div>
            </form>

        </div>
    </div>
</div>