.submit-data-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.enter-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.date-enter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.entry{
    padding: 3%;
    width: 40%;
}


.input-group-text{
    background-color: #ffec93;
    font-family: "Aileron-Light";
    border-color: #ffec93;  
}

.form-control{
    background-color: white;
    font-family: "Aileron-UltraLight";
    border-color: #ffec93; 
}

.submit-button{
    background-color: #ffec93;
    color: #02214b;
}

.availability-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.availability-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.response-intro{
    color: white;
    font-family: 'Aileron-Light';
    padding-right: 5px;
}

.response-text{
    font-family: 'Aileron-Heavy';
    color: lime;
}

.letsGo{
    -webkit-appearance: none;
}

.email-data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert{
    text-align: center;
    position: absolute;
    width: 20%;
}

.email-text{
    color: white;
    text-align: center;
    font-family: 'Aileron-Light';
    width: 40%;
}

.form-control-feedback{
    color: white;
    text-align: center;
    font-family: 'Aileron-Light';
}

.email-entry{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.email-notify{
    padding-top: 5%;
}