<form (ngSubmit)="onSubmit()" #submitDataForm="ngForm" class="submit-data-container">
    <div class="enter-info container-fluid">
        <div class="entry">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="name">Date</label>
                </div>
                <input type="date" class="form-control" id="dateEntry" required [(ngModel)]="dateEntry" name="dateEntry"
                    placeholder="yyyy-mm-dd">
            </div>
        </div>
        <div class="entry">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="timeEntry">Time Slots</label>
                </div>
                <select class="input-field custom-select form-control" id="timEntry" required [(ngModel)]="timeEntry"
                    name="timeEntry">
                    <option value="">Select</option>
                    <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot">{{timeSlot}}</option>
                </select>
            </div>
        </div>
        <div class="submit-enter">
            <button type="submit" class="submitButton btn btn-success">Let's check!</button>
        </div>
    </div>
</form>
<div *ngIf="submitted" class="availability-container">
    <div class="availability-text">
        <div class="response-intro">
            <h4>{{introText}}</h4>
        </div>
        <div [ngStyle]="{'color': (checkData==0) ? 'limegreen': 'red'}" class="response-text">
            <h4>{{responseText}}</h4>
        </div>
    </div>
    <div *ngIf="checkData==0 "class="sign-up-btn">
        <a [href]="smithCenterLink" type="button" class="letsGo btn btn-primary">Let's Go!</a>
    </div>
</div>