<form novalidate [formGroup]="myform" class="submit-data-container">
    <div formGroupName="slot" class="enter-info container-fluid">
        <div class="date-enter">
            <div class="entry">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="date">Date</label>
                    </div>
                    <input type="date" class="form-control" formControlName="date" id="date" placeholder="yyyy-mm-dd"
                        required>
                </div>
                <div class="form-control-feedback" *ngIf="date.errors && (date.dirty || date.touched)">
                    <p class="error" *ngIf="date.errors.required">Date is required</p>
                    <p class="error" *ngIf="date.errors.pattern || date.errors.dateRange">Invalid date entry</p>
                </div>
            </div>
            <div class="submit-enter">
                <button (click)="getTimes()" [disabled]="date.invalid" type="submit"
                    class="submit-button btn btn-light">Find Times!</button>
            </div>
        </div>
        <div *ngIf="noSpots" class="no-spots-text">
            <h5 class="spots-text">{{noSpotsText}}</h5>
            <h5 class="spots-text">Please select another day.</h5>
        </div>
        <div *ngIf="spotsAvailable" class="time-slots">
            <h5 class="spots-text">{{spotsText}}</h5>
            <div>
                <a *ngFor="let time of timeSlots;" [href]="smithCenterLink" class="btn btn-outline-light">
                    {{time}}
                </a>
            </div>
        </div>

        <div *ngIf="time.valid" class="sign-up">
            <button [disabled]="time.invalid" type="submit" class="btn btn-outline-light">Sign Up!</button>
        </div>
    </div>
    <div *ngIf="emailNotify" class="email-entry">
        <h5 class="email-text">{{emailText}}</h5>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="email">Email</label>
            </div>
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="email@nd.edu">
        </div>
        <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
            <p class="error" *ngIf="email.errors.required">Email is required</p>
            <p class="error" *ngIf="email.errors.pattern">The email address must contain at least the @ character</p>
            <p class="error" *ngIf="email.errors.emailDomain">Email must be ND email</p>
        </div>
        <div *ngIf="email.valid" class="email-notify">
            <button (click)="emailSubmit()" [disabled]="email.invalid" type="submit" class="btn btn-outline-light">Email
                Me When Available!</button>
        </div>
    </div>
</form>