.submit-data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}

.enter-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.date-enter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.entry-errors{
    display: block;
    padding: 3%;
    width: 40%;
}

.input-group-text{
    background-color: #ffec93;
    font-family: "Aileron-Light";
    border-color: #ffec93;  
}

.form-control{
    background-color: white;
    font-family: "Aileron-UltraLight";
    border-color: #ffec93; 
}

.submit-button{
    background-color: #ffec93;
    color: #02214b;
}

.time-spots{
    text-align: center;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.spots-text{
    color: white;
    font-family: 'Aileron-Light';
}

.btn{
    -webkit-appearance: none;
    font-family: "Aileron-Light";
}

.form-control-feedback{
    color: white;
    font-family: 'Aileron-Light';
}


.error{
    font-family: 'Aileron-Light';
    color: lightcoral;
    position: absolute;
}

.no-spots-text{
    font-family: 'Aileron-Light';
    text-align: center; 
    padding-top: 1%;
}

.no-spots-icon{
    color: #EA3C53;
    font-size: 4em;
}

.email-app{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot-button{
    margin: 3px;
}

.spinner-border{
    color: #ffec93;
}

