.availability-container{
    display: none;
    justify-content: center;
    align-items: center;
}
.response-intro{
    color: white;
    font-family: 'Aileron-Light';
    padding-right: 5px;
}

.response-text{
    font-family: 'Aileron-Heavy';
    color: lime;
}